.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .weekDay {
    display: block;
    margin: 10px 0;
    color: #6a7988;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }
  .monthDay {
    display: block;
    margin-bottom: 5px;
    color: #728096;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    &.current {
      color: #5a57cb;
      font-weight: bold;
    }
  }
  .container {
    background-color: rgba(#f3f5f8, 0.8);
    border-radius: 6px;
    padding: 10px;
    flex: 1;

    .contentContainer {
      flex: 1;
    }
  }
}
