.root {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 6px;
  margin-bottom: 5px;

  .cardHeader {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      color: #c4c4c4;
      font-size: 12px;
      padding: 2px;
    }

    .title {
      display: block;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: #5a57cb;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }
  }

  .cardBody {
    padding: 0px 3px;
  }

  .cardFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px 5px 5px;

    .addButton {
      border: none;
      background-color: transparent;
      padding: 0;

      i {
        color: #a0a8b1;
        font-size: 12px;
      }

      &:hover {
        i {
          color: #5a57cb;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
